.menu {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #267ba6;
    overflow: hidden;
    width: 100%;
    height: 70px;
    overflow: visible;
    -webkit-user-select: none;
}

.menu-row {
    float: left;
    line-height: 70px;
}

.menu-item {
    display: block;
    vertical-align: middle;
    color: white;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
    font-size: 40px;
    height: 100%;
}

.menu-dropdown{
    cursor: pointer;
    margin-left: auto;
    height: 100%;
    line-height: 70px;
}

.dropdown-content{
    top: 70px;
    background-color: white;
    position: absolute;
    width: 200px;
    height: 120px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    right: 0;
    font-size: 20px;
    padding: 20px;
    border-radius: 0 0 7px 7px;
}

#left-main{
    left: 0;
}

.dropdown-item{
    text align: left;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: #c0c0c0;
}

.menu-icon {
    margin: 5px;
    display: none;
    flex-wrap: wrap;
    align-content: space-around;
    width: 50px;
    height: 35px;
    cursor: pointer;
}

.piece-img{
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.piece-img:hover {
    background-color: #c0c0c0;
}

.bar {
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

.board-color{
    display: flex;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.board-color:hover{
    box-sizing: border-box;
    border: 2px solid;
}

.board-color div{
    width: 50%;
    height: 100%;
}

@media (max-width: 1200px) {
    .menu-icon{
        display: flex;
    }

    .menu-row{
        display: none;
    }

    .menu{
        height: 45px;
    }

    .dropdown-content{
        top: 45px;
    }

    .menu-item{
        font-size: 30px;
    }

    .menu-dropdown{
        line-height: 45px;
    }
}