html {
    height: 100%;
    background-color: #c8dde8;
    font-family: Montserrat, sans-serif;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    }


.score {
    position: absolute;
    height: 100%;
    width: 4%;
    right: 25%;
}

.user-link{
    color: black;
}
.analysis-link{
    color: black;
}

.profile-header{
    word-spacing: 10px;
}
.user {
    text-align: center;
    font-size: 50px;
    color: #267ba6;
}
.games-heading {
    text-align: center;
    color: #267ba6;
    font-size: 35px;
}
.games {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.message {
    position: absolute;
    top: 45%;
    font-size: 4vw;
    width: 100%;
    text-align: center;
}

.game-link{
    text-decoration: none;
    color: black;
}

.move{
    cursor: pointer;
}

.move:hover{
    background-color: #ccc;
}

.highlight1-32417, .highlight2-9c5d2 {
  box-shadow: inset 0 0 3px 3px #93b266;
}

.plus{
    background-color: green;
    border-radius: 3px;
    cursor: pointer;
}
