.main_header{
    color: black;
    font-size: 50pt;
    text-align: center;
    display:block;
    text-decoration: none;
}

table {
    table-layout: fixed;
}

.center{
text-align: center;
}

.chess-board{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.chess-board .cell {
    height: 70pt;
    width: 70pt;
    box-sizing: border-box;
}

.chess-board .cell-button{
    height: 100%;
    width: 100%;
}

.chess-board .cell-button-hollow{
    height: 100%;
    width: 100%;
}

.chess-board .cell-piece{
    height: 100%;
    width: 100%;
    font-size: 40pt;
}

.home{
    text-decoration: none;
    font-family: 'Arial';
    font-size: 40px;
    color: black;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
