{% extends "base.html" %}

{% block content %}
<script>let role = 'wb'; let fen = 'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1';</script>
<script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>

<div class="party">
    <div class="score">
        <div class="rate">{{ score }}</div>
        <div class="progres-bar">
            <div class="progres-bar-completed" style="height: {{ rate }}%;"></div>
        </div>
    </div>

    <div class="chess-board">
        <div id="chessboard"></div>
    </div>
</div>

{% endblock %}