<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>{{title}}</title>
</head>
<body>
<nav>
    {% if current_user.is_authenticated %}
        <div class="profile-header">
            <span class="user">{{ current_user.nick }}</span>
            <a class="user" href="/profile/{{ current_user.id }}">Профиль</a>
            <a class="user" href="/logout">Выйти</a>
        </div>
    {% else %}
        <div class="user">Гость</div>
    {% endif %}
    <header>
        <a href="/" class="main_header">Chess</a>
    </header>
</nav>
<div class="center">
{% block content %}{% endblock %}
</div>
</body>
</html>