{% extends "base.html" %}

{% block content %}
<div class="home">
    <form class="home-items" id="engine" action="" method="post">
        <span class="form-item">Играть с ботом</span>
        {{ form.hidden_tag() }}
            <span class="form-item">{{ form.color.label }}</span>
            {{ form.color(class="form-control") }}
            {% for error in form.color.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <span class="form-item">{{ form.level.label }}</span>
            {{ form.level(class="form-control") }}
            {% for error in form.level.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {{ form.submit(type="submit", class="btn form-button") }}

        {% if message %}
            <script>alert('{{ message }}')</script>
        {% endif %}
    </form>
</div>
{% endblock %}