{% extends "base.html" %}

{% block content %}
{% if role == 'black' %}
{% set board = board[::-1] %}
{% endif %}
<table class="chess-board">
    <tbody>
        {% for row in range(7, -1, -1) %}
            <tr>
                {% for col in range(8) %}
                    {% set cell = board[row * 8 + col] %}
                    {% set color = cell['color'] %}
                    {% set piece = cell['piece'] %}
                    {% set name = cell['name'] %}
                    <td class="cell">
                        {% if role == 'spectator' %}
                        <button
                                class="cell-button-hollow"
                                style="background-color: {{ color }};">
                            <span class="cell-piece">{{ piece }}</span>
                        </button>
                        {% else %}
                        <button
                                name="{{ name }}"
                                class="cell-button"
                                style="background-color: {{ color }};">
                            <span class="cell-piece">{{ piece }}</span>
                        </button>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}