{% extends "base.html" %}

{% block content %}
{% if current_user.id == white or current_user.id == black %}
<table class="chess-board">
    <tbody>
        {% for row in range(7, -1, -1) %}
            <tr>
                {% for col in range(8) %}
                    {% set cell = board[row * 8 + col] %}
                    <td class="{{ cell['color'] }}">
                        <button
                                name="{{ cell['name'] }}"
                                class="cell">
                            {{ cell['piece'] }}
                        </button>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>У вас нет доступа к партии</p>
{% endif %}

{% endblock %}