{% extends "base.html" %}

{% block content %}

<div class="home">
    <div class="home-items">
        {% if current_user.is_authenticated %}
            <span class="home-item" id="friendly-game" onclick="friendlyGame()">Играть с другом</span>
            <span class="home-item" id="game-link"></span>
            <span class="home-item" id="fast-game" onclick="fastGame()">Быстрая игра</span>
            <a href="/engine_game" class="home-item">Играть с компьютером</a>
            <div class="dot-container">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        {% else %}
            <a href="/register" class="home-item">Зарегистрироваться</a>
            <a href="/login" class="home-item">Войти</a>
            <a href="/engine_game" class="home-item">Играть с компьютером</a>
        {% endif %}
    </div>
</div>

{% endblock %}