{% extends "base.html" %}

{% block content %}

<div class="profile">
    <div class="statistic">
        <div class="statistic-items">
            <p class="statistic-item">{{ user.nick }}</p>
            <p class="statistic-item">Статистика</p>
            <p class="statistic-item">Дата регистрации: {{ user.registration_date.date() }} </p>
            <p class="statistic-item">Рейтинг: {{ user.rating }}</p>
            <p class="statistic-item">Завершенных игр: {{ all | length }}</p>
            <p class="statistic-item">Незавершенных игр: {{ unfinished | length }}</p>
            {% if all | length == 0 %}
            <p class="statistic-item">Процент побед: <span>0%</span> </p>
            <p class="statistic-item">Процент ничьих: <span>0%</span> </p>
            <p class="statistic-item">Процент поражений: <span>0%</span> </p>
            {% else %}
            <p class="statistic-item">Процент побед: <span>{{ (wins | length / all | length * 100) | round(2) }}%</span> </p>
            <p class="statistic-item">Процент ничьих: <span>{{ (draws | length / all | length * 100) | round(2) }}%</span> </p>
            <p class="statistic-item">Процент поражений: <span>{{ (looses | length / all | length * 100) | round(2) }}%</span> </p>
            {% endif %}
        </div>
    </div>

    <div class="games">
        <div class="tab">
            <div class="tab-content">
                {% for type in [(wins, 'win'), (looses, 'loose'), (draws, 'draw'), (unfinished, 'unfinished')] %}
                <div id="{{type[1]}}" style="height: 95%;">
                    <table style="margin: 20px; overflow-y:scroll; scrollbar-width: none; height: 100%; display:block;">
                        <tbody>
                            {% for game in type[0] %}
                                <tr>
                                    <td rowspan="{{ 3 if type[1] == 'unfinished' else 5 }}">
                                        <a href="/game/{{game.id}}"><div class="board" id="{{ 'board' + game.id|string }}"></div></a>
                                        <script>var board = Chessboard('board' + {{game.id|string}}, {
                                                    position: '{{game.fen}}',
                                                    pieceTheme: '../static/img/chesspieces/wikipedia/{piece}.png',
                                                    orientation: '{{ 'white' if game.white_player == current_user.id else 'black' }}',
                                                    showNotation: false
                                        })
                                        </script>
                                    </td>
                                    <td>Партия {{ game.id }}</td>
                                </tr>
                                <tr><td>Белые: {{ game.white_player }}</td></tr>
                                <tr><td>Черные: {{ game.black_player }}</td></tr>
                                {% if type[1] != 'unfinished' %}
                                    <tr><td>Результат: {{ game.result }} • {{ game.reason }}</td></tr>
                                    <tr><td><a href="/analysis/{{ game.id }}">Анализировать партию</a></td></tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
            <div class="tab-nav">
                <input checked id="win-btn" name="tab-btn" type="radio" value="">
                <label for="win-btn" onclick="showTabContent('win')">Победы</label>
                <input id="loose-btn" name="tab-btn" type="radio" value="">
                <label for="loose-btn" onclick="showTabContent('loose')">Поражения</label>
                <input id="draw-btn" name="tab-btn" type="radio" value="">
                <label for="draw-btn" onclick="showTabContent('draw')">Ничьи</label>
                <input id="unfinished-btn" name="tab-btn" type="radio" value="">
                <label for="unfinished-btn" onclick="showTabContent('unfinished')">Текущие</label>
            </div>
        </div>
    </div>
</div>

{% endblock %}